
body{
	font-size: 30px;
	div{
		font-size: 10px;
	}
}

h1{
	color: green;
}

.block {
	&__item {
	}
}

.block {
	color: green;
}

.block__item {
	background-color: gray;
}
.block {

	&__item {
		color: rebeccapurple;
	}
}

.red {
	color: aqua;
}